pyrogram
tgcrypto
pymongo[srv]  # (Remove version restriction for latest updates)
motor  # (Latest compatible version)
marshmallow==3.14.1
umongo==3.0.1
requests
beautifulsoup4  # (Replace `bs4` with correct package name)
git+https://github.com/Joelkb/cinemagoer
datetime
pytz
aiohttp
